<app-chart chartId="temperature" dataIndex="0" chartTitle="Temperature ºC" chartRgbaColor="rgba(255,0,0,0.3)"></app-chart>
<app-chart chartId="humidity" dataIndex="1" chartTitle="Humidity %" chartRgbaColor="rgba(0,255,0,0.3)"></app-chart>
<app-chart chartId="h2o" dataIndex="2" chartTitle="H2O Steam" chartRgbaColor="rgba(0,0,255,0.3)"></app-chart>